.form-container {
  .form-field-wrapper {
    .role-label,
    .org-label {
      margin: 10px 10px 0 0;
    }
  }
  .role-select-container,
  .org-select-container {
    select {
      margin: 5px;
      height: 30px;
      width: 98%;
    }
  }
}
