@import "common/variables.scss";
@import "common/mixins.scss";
@import "Theme.scss";
@import "Loading.scss";
@import "Modal.scss";
@import "Header.scss";
@import "ToggleSlider.scss";
@import "LoginPage.scss";
@import "ActiveBadge.scss";
@import "DetailsPage.scss";
@import "EditTitle.scss";
@import "Home.scss";
@import "ForgotPassword.scss";
@import "UniversalSearch.scss";
@import "ToastNotifications.scss";

body {
  margin: 0px;
}

.body-wrapper {
  margin-top: 70px;
  margin-left: 0px;
}
