$darkest: black;
$second-darkest: #3E5168;
$second-lightest: #6C8CB5;
$lightest: #8AB3E8;
$light-grey: #cccccc;
$dark-grey: #aaaaaa;
$rose: #a2666f;
$coral: #f49390;

$lava: #c42021;

$green: #6Da34d;

$orange: #ee9433;