body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.body-container {
  @include flex-center;
  margin-top: 5%;
}

.org-filter,
.user-filter {
  height: 30px;
  width: 195px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid rgba(0, 0, 0, 1);
  }
}

.button-and-search {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
