$darkest: black;
$second-darkest: #3e5168;
$second-lightest: #6c8cb5;
$lightest: #8ab3e8;
$light-grey: #cccccc;
$dark-grey: #aaaaaa;
$rose: #a2666f;
$coral: #f49390;

$lava: #c42021;
$green: #6da34d;
$orange: #ee9433;
