@import "./forms.scss";

button {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9em;
  // margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

h2 {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.87);
}

#search {
  height: 30px;
}

.delete-button {
  background-color: $lava;
  color: white;

  &:hover {
    background-color: $coral;
  }

  &:disabled {
    background-color: $dark-grey;
    color: $light-grey;
  }
}

.confirm-button {
  background-color: $second-lightest;
  color: white;
  height: 35px;

  &:hover {
    background-color: $second-darkest;
  }

  &:disabled {
    background-color: $dark-grey;
    color: $light-grey;
  }
}

.cancel-button {
  background-color: $light-grey;
  color: black;

  &:hover {
    background-color: $dark-grey;
  }
}

.button-icon {
  margin-right: 10px;
  margin-bottom: 1px;
}

// .body-container {
//   margin: 30px 50px;
// }

div.rdt_Table a {
  text-decoration: none;
  color: white;
}

div.rdt_Table a.table-link {
  color: $second-darkest;
}

.flex-row {
  display: flex;
}

.detail-wrapper {
  margin-left: 100px;
}

.list-wrapper {
  margin-left: 100px;
}

p.address {
  font-size: 1.2em;
}

p.phone {
  font-size: 1.1em;
  color: $second-darkest;
}

a.no-decoration {
  text-decoration: none;
  color: black;
}

.form-wrapper {
  width: 700px;
  padding: 25px 50px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);

  .form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    // background-color: $second-darkest;
    // color: white;
    // border: 6px solid $darkest;
    // border-radius: 15px;
    // width: 100%;
    // padding-top: 25px;

    label {
      text-align: right;
      margin-top: 10px;
      margin-right: 10px;
    }

    label.drop-down-label {
      margin-top: 18px;
    }

    input {
      // background-color: $lightest;
      // border-radius: 50px;
      // border: 2px solid $second-darkest;
      margin: 5px;
      padding: 5px;
    }

    // button {
    //    background-color: $darkest;
    //    color: white;
    //    border-radius: 10px;
    //    align-self: center;
    //    margin-top: 25px;
    //    margin-bottom: 50px;
    //    width: 200px;
    //    line-height: 2em;
    // }
  }
}
.bordered-icon {
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 5px;

  i {
    margin: -5px 5px;
  }
}

.list-page {
  margin-left: 0px;
  margin-top: 5%;
  margin-right: 100px;

  .button-and-search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
  }
}

.seperator {
  margin: 15px;
}

.error-message {
  margin-bottom: 13px;
  color: $lava;
  margin-left: 100px;
}
