.items-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  
    .circle {
      position: relative;
      right: 35px;
      width: 50px;
      height: 50px;
      background-color: rgb(186, 216, 155);
      border-radius: 50%;
      animation: circle 3s ease-in-out infinite forwards;
    }
    h1 {
      position: relative;
      top: 50px;
      font-size: 35px;
      color: #707070;
      text-align: center;
      animation: text 3s ease-in-out infinite forwards;
    }
  }
  
  @keyframes circle {
    0% {
      transform: translateX(50%) translateY(0);
      background-color: grey;
    }
    25% {
      transform: translateX(100%) translateY(50%);
      background-color: #3E5168;
    }
    50% {
      transform: translateX(50%) translateY(100%);
      background-color: #6C8CB5;
    }
    75% {
      transform: translateX(0%) translateY(50%);
      background-color: #8AB3E8;
    }
    100% {
      transform: translateX(50%) translateY(0%);
      background-color: gray;
    }
  }
  
  @keyframes text {
    0% {
      color: #707070;
    }
    50% {
      color: transparent;
    }
  }
  