.fp-page-wrapper {
    display: flex;
    justify-content: center;

    
    .forgot-password-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .logo {
            margin-bottom: 30px;
        }

        
        .recovery-paper {
            padding: 60px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            color: $lightest;
            min-width: 300px;
            

            h2 {
                margin: 0px;
                color: $second-lightest;
            }
            
            hr {
                width: 100%;
                color: $second-darkest;
            }

            .recovery-form {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                width: 100%;

                .send-recovery {
                    margin-right: 0px;
                    margin-top: 20px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}