.forgot-password-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;

  h2 {
    margin: 0px;
    color: $second-lightest;
  }

  .forgot-password-wrapper {
    @include flex-center-column;
    justify-content: space-around;

    .logo {
      margin-bottom: 30px;
    }

    .recovery-wrapper {
      @include flex-center-column;
      justify-content: space-around;
      color: $lightest;
      box-shadow: 0 2px 5px 2px rgb(0 0 0 / 20%);
      width: 300px;
      height: 250px;
      padding: 60px;

      hr {
        width: 100%;
      }

      button {
        text-transform: uppercase;
      }

      input {
        padding: 8px 10px;
        outline: none;
      }

      h2 {
        margin: 0px;
        color: $second-lightest;
      }

      .recovery-btn {
        color: white;
        background-color: $second-lightest;
        height: 39px;
        width: 78%;
        margin-right: 0px;
        transition: 0.3s ease-in-out;
        border: 1px solid transparent;

        &:hover {
          background-color: $second-darkest;
        }
      }

      .recovery-form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;

        .send-recovery {
          margin-right: 0px;
          margin-top: 20px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
